<div class="container">


    <div class="sidebar">
        <span #teacherName>Teacher Name</span>
        <hr>
        <div class="sidebar-item">
            <button>Adauga Examene</button>
        </div>

        <div class="sidebar-item">
            <button>Examen</button>
        </div>

        <div class="sidebar-item">
            <button>Istoric Examene</button>
        </div>

        <div class="sidebar-item">
            <button>Contestatii</button>
        </div>
    </div>

    <div class="content">
      <div class="student-grade">
        <p>Student Name</p>
        <hr>

      </div>
    </div>

    <div class="background-image"></div>
</div>
