<div class="container">

  <div class="sidebar">
      <span>Profesor {{teacherName}}</span>
    <hr>
    <div class="sidebar-item">
      <button>Adauga Examene</button>
    </div>

    <div class="sidebar-item">
      <button>Examen</button>
    </div>

    <div class="sidebar-item">
      <button>Istoric Examene</button>
    </div>

    <div class="sidebar-item">
      <button>Contestatii</button>
    </div>
  </div>

  <div class="content">

    <div class="student-name">
      <p>Student Name</p>
    </div>

    <hr>

    <div class="student-grade">

      <table width="100%">
        <tr>
          <th>Index</th>
          <th>Numar Matricol</th>
          <th>Nume Student</th>
          <th>Actualizati nota?</th>
          <th>Aplica</th>
        </tr>
        <ng-container *ngFor="let index of grade; let i = index" >

          <tr>
            <td>{{i + 1}}</td>
            <td>{{index.studentId}}</td>
            <td>{{index.studentName}}</td>
            <td><input type="number" placeholder="{{index.gradeValue}}" [(ngModel)]="grade[i].gradeValue"></td>
            <td><button type="submit" class="btn btn-primary btn-block btn-large" (click)="sendGrade(grade[i].gradeValue, grade[i].gradeId);">Aplica</button></td>
          </tr>
        </ng-container>
      </table>
    </div>


  </div>

  <div class="background-image"></div>
