<div class="container"> 

  <div class = "sidebar">
    <div class = "tname">
      <h3>{{teacherName}}</h3>
    </div>
    <hr>
    <h1> Dashboard </h1>
    <div class = "button">
        <button>Adauga examen</button>
    </div>
    <div class = "button">
      <button (click)="showTeacherName()">Examen</button>
      </div>
    <div class = "button">
        <button>Istoric Examene</button>
      </div>  
    <div class = "button">
        <button>Contestatii</button>
      </div> 
    <div class = "lowside">
      <div class = "button">
        <button (click)="logOut()">Log out</button>
      </div>
    </div> 
  </div>
  <div class = "content">
    Content
  </div>
  <div class="background-image"></div>
  </div>
